<%= render 'shared/modal_new_review' %>
<div style="background-color: #F7F7F7">
<div class="container">
  <div class="row">
    <br/>
    <div class="col-xs-12 col-sm-5" style="background-color: white; margin: 20px">

      <h1 style="color: #2657C1"><%= @cocktail.name%>
      <% if @cocktail.reviews.count != 0 %>
        (<%= @cocktail.reviews.average('rating').round(1) %>/5)
      <% end %></h1>
      <p><%= @cocktail.description %></p>

      <div style="border-style: solid; border-color: #FCD59B; border-radius: 5px;">
        <% if @cocktail.photo? %>
          <%= cl_image_tag @cocktail.photo.path, width: 450, height: 200, crop: :fill%>
        <% end %>
      </div>

      <h3>Reviews (<%= @cocktail.reviews.count %>) <a href="#" onmouseover="this.style.color='';" onmouseout="this.style.color='';" data-toggle="modal" data-target="#newReview"><i class="fa fa-plus" aria-hidden="true"></i></a></h3>
      <br/>
      <% @cocktail.reviews.each do |review| %>
      <p><% review.rating.times do %> <i class="fa fa-star" aria-hidden="true"></i> <% end %>
      <%= review.content %></p>
      <% end %>
      <br/>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3><br/>The ingredients</h3>
      <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class:"fa fa-trash-o" %></li>
      <% end %>
      </ul>
      <h3>Add an ingredient</h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.submit "add a dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
